*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 2rem;
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.5rem;
    align-items: center;
    list-style: none;
}
@media (max-width:1350px) {

    /* FOR THE HEADER */

    header{
        display: flex;
        justify-content: space-around;
    }
    .logo{
        font-size: 2rem;
        list-style: none;
    }
    .header{
        display: none;
        justify-content: space-around;
        gap: 2rem;
        font-size: 1.5rem;
        align-items: center;
        list-style: none;
    }

    /* FOR THE MAIN FIRST */

   .main-first{
        display: flex;
        flex-flow: column;
        margin-left: 3rem;
   }
   .main-pic{
    height: 650px;
    max-width: 500px;
    border-radius: 13%;
    margin-left: 12rem;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
}






.main-first{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}
.main-name{
    margin-left: 12rem;
    animation-name: test;
    animation-duration: 3s;
    margin-top: 5rem;
}
.main-pic{
    height: 30rem;
    width: 25rem;
    border-radius: 3rem;
    margin-right: 20rem;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0% {right: -100%; rotate: 180deg;}
    50% { right: 0px;}
}

@keyframes test {
    0% {left: -100%;}
    50% { left: 0px;}
    100% {left: 0px;}
}
.name1{
    font-size: 4rem;
}
.name2{
    font-size: 1.8rem;
    margin-top: -1rem;
}
.name3{
    font-size: 1.5rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.name4{
    font-size: 2rem;
}

/* .main-first{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.main-name{
    margin-left: 15%;
    position: relative;
    animation-name: test;
    animation-duration: 3s;
}
.main-pic{
    height: 650px;
    max-width: 500px;
    border-radius: 13%;
    left: -30%;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
}
@keyframes example {
    0% {right: -100%; rotate: 180deg;}
    50% { right: 0px;}
}

@keyframes test {
    0% {left: -100%;}
    50% { left: 0px;}
    100% {left: 0px;}
}
.name1{
    font-size: 450%;
}
.name2{
    font-size: 200%;
    margin-top: -18%;
    color: rgb(107, 196, 251);
}
.name4{
    margin-top: 40px;
    font-size: 20px;
}
.name3, .name5{
    padding: 3% 10% 3% 10%;
    border-radius: 50px;
    color: #fff;
    border-style: none;
    height: 70px;
    font-size: 20px;
    background-color:#7190f0;
} */
.main-second{
    position: absolute;
    width: 200vh;
    top: 1000px;
}
.main-skill{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.minor-skill1{
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    max-width: 180vh;
    margin-left: 15%;
    margin-right: 13%;
}
.minor-skill{
    background-color:#7190f0;
    width: 250px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.minor-skill p{
    font-size: 20px;
}
.p{
    font-weight: 1000;
}
.hr-first{
    width: 50%;
    position: relative;
    top: 15px;
    background-color: #7190f0;
    height: 2px;
    z-index: 1;
}
.hr-second{
        width: 50%;
        position: relative;
        top: 15px;
        background-color: #7190f0;
        height: 2px;
        z-index: 1;
}
.experience{
    background-color: #f0f3fe;
    position: relative;
    top: 150px;
    z-index: -1;
    height: 1900px;
}
@media(min-width:1900px) {
    .experience{
        background-color: #f0f3fe;
        position: relative;
        top: 150px;
        z-index: -1;
        height: 1900px;
        width: 3000px;
    }
}
.main-work{
    position: relative;
    width: 100%;
    top: 10%;
    margin-top: 15%;
    text-align: center;
}
.first-skill{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 16%;
}
.in-work{
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.out{
    width: 70%;
    text-align: left;
}
.inside-work{
    text-align: left;
}
.work-year{
    position: relative;
    margin-top: -950px;
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: azure;
}
.in-work-year{
    width: 73%;
    display: flex;
    justify-content: space-between;
    margin-left: 16%;
}
.work-year-word{
    width: 50%;
    text-align: left;
}
.rating{
    text-align: left;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "num suc"
    "awa rev";
}
.fig{
    font-size: 60px;
    font-weight: bolder;
    color: #7190f0;
}
.in-fig{
    margin-top: -50px;
}
.num{
    grid-area: num;
}
.suc{
    grid-area: suc;
}
.awa{
    grid-area: awa;
}
.rev{
    grid-area: rev;
}
.experience1{
    margin-top: -10%;
}
.pro1{
    background-color: #f0f3fe;
    position: relative;
}
.pro{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin-left: 16%;
}
.pro-pic{
    width: 90%;
    height: 660px;
    border-radius: 20px;
}
.sub-pro1{
    position: relative;
    width: 47%;
    background-color: beige;
    border-radius: 20px;
    height: fit-content;
}
.all{
    margin-left: 30px;
}
.sub-pro2{
    width: 50%;
}
.need{
    margin-top: 80px;
    font-size: 25px;
}
.let{
    font-size: 50px;
    margin-top: -10px;
}
.image{
    margin-top: -25px;
    font-size: 25px;
}
.hr-third{
    width: 80%;
    margin-left: 30px;
}
.hr-fourth{
    width: 80%;
    margin-left: 30px;
}
.phone{
    font-size: 25px;
}
.no{
    font-size: 25px;
    color: #7190f0;
    margin-left: 50px;
}
.email{
    font-size: 25px;
}
.mat{
    font-size: 25px;
    color: #7190f0;
    margin-left: 50px;
    margin-bottom: 100px;
}
.pic3{
    margin-top: 35px;
    height: 300px;
    width: 300px;
}
.c-pic3{
    width: 50%;
    text-align: center;
}
.get-all{
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin-left: 16%;

}
.inget-all{
    width: 50%;
}
.get{
    font-size: 30px;
}
.nam{
    font-size: 20px;
    margin-top: -15px;
}
.put{
    outline: none;
    border: none;
}
.subm{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: #7190f0;
    color: #fff;
    font-weight: bolder;
    border-radius: 40px;
}
.imag{
    margin-top: 40px;
    font-size: 20px;
}
.bottom{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    background-color: black;
    color: #fff;
}
.ic{
    color: #7190f0;
}
.fa-figma, .fa-wordpress-simple, .fa-react, .fa-html5{
    width: 35px;
    text-align: center;
    border-radius: 50%;
    padding: 10px 5px 0px 5px;
    color: white;
    font-size: 40px;
}
.in-yrs{
    font-size: 20px;
    margin-top: -40px;
}
.yrs{
    font-size: 50px;
    font-weight: bolder;
}